#### Importamos la libreria

In [8]:
import pandas as pd

#### Cargamos los datasets
Para un mayor orden a todos los datasets los puse dentro de la carpeta datasets

In [9]:
df_ventas = pd.read_excel('datasets/ventas.xlsx')
df_detalle = pd.read_excel('datasets/detalle_ventas.xlsx')
df_clientes = pd.read_excel('datasets/clientes.xlsx')
df_productos = pd.read_excel('datasets/productos.xlsx')

#### Exploración inicial

In [ ]:
# dimensiones de los datasets, donde el primer valor es el número de filas y el segundo el número de columnas
print("Dimensiones de df_ventas:", df_ventas.shape)
print("Dimensiones de df_detalle:", df_detalle.shape)
print("Dimensiones de df_clientes:", df_clientes.shape)
print("Dimensiones de df_productos:", df_productos.shape)

Dimensiones de df_ventas: (120, 6)
Dimensiones de df_detalle: (343, 6)
Dimensiones de df_clientes: (100, 5)
Dimensiones de df_productos: (100, 4)

In [ ]:
#informacion general de los datasets, donde se pueden ver los tipos de datos y valores que no son nulos
print(df_ventas.info())
print(df_detalle.info())

# En el output podemos ver de cada columna:
# non-null count: número de valores no nulos en esa columna, esto me permite saber si hay datos faltantes porque el número será menor al total de filas en el caso de que haya nulos
# dtype: tipo de dato de la columna (int64, float64, object, datetime, etc) para poder identificar si hay que hacer conversiones de tipos de datos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_venta        120 non-null    int64
 1   fecha           120 non-null    datetime64[ns]
 2   id_cliente      120 non-null    int64
 3   nombre_cliente  120 non-null    object
 4   email           120 non-null    object
 5   medio_pago      120 non-null    object
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 5.8+ KB
dataset ventas: None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343 entries, 0 to 342
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_venta         343 non-null    int64
 1   id_producto      343 non-null    int64
 2   nombre_producto  343 non-null    object
 3   cantidad         343 non-null    int64
 4   precio_unitario  343 non-null    int64
 5   importe          343 non-null    int64
dtypes: int64(5), object(1)
memory usage: 16.2+ KB
dataset ventas: None

Aqui lo que podemos visualizar es que la cantidad de valores no nulos y las entradas coinciden, por lo tanto concluimos que no hay valores nulos, ademas los tipos de datos se corresponden con lo que deberia tener la columna

In [ ]:
# lo divido en dos partes para que no se haga tan largo el output
print(df_clientes.info())
print(df_productos.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_cliente      100 non-null    int64
 1   nombre_cliente  100 non-null    object
 2   email           100 non-null    object
 3   ciudad          100 non-null    object
 4   fecha_alta      100 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 4.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_producto      100 non-null    int64
 1   nombre_producto  100 non-null    object
 2   categoria        100 non-null    object
 3   precio_unitario  100 non-null    int64
dtypes: int64(2), object(2)
memory usage: 3.3+ KB
None

Aqui lo que podemos visualizar al igual que en los datasets anteriores, es que la cantidad de valores no nulos y las entradas coinciden, por lo tanto concluimos que no hay valores nulos, ademas los tipos de datos se corresponden con lo que deberia tener la columna

In [ ]:
# Mostrar las primeras filas de cada dataset para una exploración inicial
print(df_ventas.head())
print(df_detalle.head())

   id_venta      fecha  id_cliente    nombre_cliente  \
0         1 2024-06-19          62  Guadalupe Romero
1         2 2024-03-17          49      Olivia Gomez
2         3 2024-01-13          20      Tomas Acosta
3         4 2024-02-27          36    Martina Molina
4         5 2024-06-11          56        Bruno Diaz

                       email     medio_pago
0  guadalupe.romero@mail.com        tarjeta
1      olivia.gomez@mail.com             qr
2      tomas.acosta@mail.com        tarjeta
3    martina.molina@mail.com  transferencia
4        bruno.diaz@mail.com        tarjeta
   id_venta  id_producto        nombre_producto  cantidad  precio_unitario  \
0         1           90    Toallas Húmedas x50         1             2902
1         2           82  Aceitunas Negras 200g         5             2394
2         2           39     Helado Vainilla 1L         5              469
3         2           70           Fernet 750ml         2             4061
4         2           22  Medialunas de Manteca         1             2069

   importe
0     2902
1    11970
2     2345
3     8122
4     2069

In [21]:
# lo divido en dos partes para que no se haga tan largo el output
print(df_clientes.head())
print(df_productos.head())

   id_cliente   nombre_cliente                     email      ciudad  \
0           1    Mariana Lopez    mariana.lopez@mail.com  Carlos Paz
1           2    Nicolas Rojas    nicolas.rojas@mail.com  Carlos Paz
2           3  Hernan Martinez  hernan.martinez@mail.com  Rio Cuarto
3           4     Uma Martinez     uma.martinez@mail.com  Carlos Paz
4           5  Agustina Flores  agustina.flores@mail.com     Cordoba

  fecha_alta
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
   id_producto     nombre_producto  categoria  precio_unitario
0            1      Coca Cola 1.5L  Alimentos             2347
1            2          Pepsi 1.5L   Limpieza             4973
2            3         Sprite 1.5L  Alimentos             4964
3            4  Fanta Naranja 1.5L   Limpieza             2033
4            5  Agua Mineral 500ml  Alimentos             4777

#### Verificar valores nulos y duplicados

In [32]:
# Verificar valores nulos
print("Valores nulos en ventas:")
print(df_ventas.isnull().sum())
print("\nValores nulos en detalle_ventas:")
print(df_detalle.isnull().sum())

Valores nulos en ventas:
id_venta          0
fecha             0
id_cliente        0
nombre_cliente    0
email             0
medio_pago        0
dtype: int64

Valores nulos en detalle_ventas:
id_venta           0
id_producto        0
nombre_producto    0
cantidad           0
precio_unitario    0
importe            0
dtype: int64

In [31]:
#lo divido en dos partes para que no se haga tan largo el output
print("Valores nulos en clientes:")
print(df_clientes.isnull().sum())
print("\nValores nulos en productos:")
print(df_productos.isnull().sum())

Valores nulos en clientes:
id_cliente        0
nombre_cliente    0
email             0
ciudad            0
fecha_alta        0
dtype: int64

Valores nulos en productos:
id_producto        0
nombre_producto    0
categoria          0
precio_unitario    0
dtype: int64

Podemos visualizar que no hay valores nulos en ningun dataset

In [33]:
#Ahora verificamos si hay filas duplicadas en los datasets
print("Filas duplicadas en ventas:")
print(df_ventas.duplicated().sum())
print("\nFilas duplicadas en detalle_ventas:")
print(df_detalle.duplicated().sum())

Filas duplicadas en ventas:
0

Filas duplicadas en detalle_ventas:
0

In [35]:
#lo divido en dos partes para que no se haga tan largo el output
print("Filas duplicadas en clientes:")
print(df_clientes.duplicated().sum())
print("\nFilas duplicadas en productos:")
print(df_productos.duplicated().sum())

Filas duplicadas en clientes:
0

Filas duplicadas en productos:
0

Podemos visualizar que no hay ningun dato duplicado en ningun dataset

In [ ]:
# Identificar filas duplicadas específicas en df_clientes, ya que manualmente vimos que habia duplicados en la columna nombre_cliente
df_clientes[df_clientes.duplicated(subset=['nombre_cliente'], keep=False)]

,id_cliente,nombre_cliente,email,ciudad,fecha_alta
7,8,Bruno Castro,bruno.castro@mail.com,Carlos Paz,2023-01-08
9,10,Karina Acosta,karina.acosta@mail.com,Cordoba,2023-01-10
20,21,Elena Rodriguez,elena.rodriguez@mail.com,Alta Gracia,2023-01-21
33,34,Bruno Castro,bruno.castro2@mail.com,Villa Maria,2023-02-03
40,41,Elena Rodriguez,elena.rodriguez2@mail.com,Alta Gracia,2023-02-10
45,46,Agustina Martinez,agustina.martinez@mail.com,Alta Gracia,2023-02-15
57,58,Karina Acosta,karina.acosta2@mail.com,Rio Cuarto,2023-02-27
78,79,Olivia Perez,olivia.perez@mail.com,Carlos Paz,2023-03-20
84,85,Agustina Martinez,agustina.martinez2@mail.com,Mendiolaza,2023-03-26
94,95,Olivia Perez,olivia.perez2@mail.com,Rio Cuarto,2023-04-05

Definimos que los nombres se repiten pero los otros datos no coinciden por lo tanto no se trata de duplicados

En el caso que tengamos valores nulos podemos aplicar las siguientes acciones

In [ ]:
#sirve cualquiera de los datasets
df_clientes.dropna() #eliminamos filas con valores nulos, aunque en este caso no hay ningun valor nulo
df_clientes.fillna() #rellenamos valores nulos con un valor especifico, aunque en este caso no hay ningun valor nulo
df_clientes.fillna(df['columna'].mean()) #rellenamos valores nulos con la media de la columna, aunque en este caso no hay ningun valor nulo

En el caso que tengamos filas duplicadas podemos realizar las siguientes acciones

In [ ]:
#sirve cualquiera de los datasets
df_clientes.drop_duplicates() #eliminamos filas duplicadas, aunque en este caso no hay ningun dato duplicado

In [ ]:
# Estadísticas básicas
df_detalle.describe()
#esto me permite ver estadísticas como la media, desviación estándar, valores mínimos y máximos, y percentiles para las columnas numéricas en el dataset detalle_ventas

         id_venta  id_producto    cantidad  precio_unitario       importe
count  343.000000   343.000000  343.000000       343.000000    343.000000
mean    61.492711    49.139942    2.962099      2654.495627   7730.078717
std     34.835525    29.135461    1.366375      1308.694720   5265.543077
min      1.000000     1.000000    1.000000       272.000000    272.000000
25%     31.000000    23.000000    2.000000      1618.500000   3489.000000
50%     61.000000    47.000000    3.000000      2512.000000   6702.000000
75%     93.000000    76.000000    4.000000      3876.000000  10231.500000
max    120.000000   100.000000    5.000000      4982.000000  24865.000000

In [47]:
# Validar que todos los id_cliente en ventas existan en clientes
df_ventas[~df_ventas['id_cliente'].isin(df_clientes['id_cliente'])]

Empty DataFrame
Columns: [id_venta, fecha, id_cliente, nombre_cliente, email, medio_pago]
Index: []

Esto muestra que no hay ventas asociadas a clientes que no esten en el dataset clientes

In [48]:
# Verificar productos inexistentes en detalle de venta
df_detalle[~df_detalle['id_producto'].isin(df_productos['id_producto'])]

Empty DataFrame
Columns: [id_venta, id_producto, nombre_producto, cantidad, precio_unitario, importe]
Index: []

Esto muestra que no hay detalle de ventas asociadas a productos que no esten en el dataset productos